.dashboard2img{
    background-image: url(./edicoes/dashboard2img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    width: 1333px;
    margin: -2px;
    display: flex;
    flex-direction: column;
    margin-top: -8%;
}

.titulografico{
    font-size: 25px;
    margin-top: 11%;
    margin-left: 11%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa{
    background-color: white;
    width: 384px;
    height: 59px;
    margin-top: 5%;
    margin-left: 44%;
}

.texto{
    font-size: 16px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6%;
}

.grafico{
    display: block;
    box-sizing: border-box;
    height: 306px;
    width: 565px;
    margin-left: 11%;
    margin-top: 3%;
}

.fundografico{
    background-color: rgb(59, 59, 59);
    width: 48%;
    margin-left: 10%;
    opacity: 95%;
}
