.perguntaimg{
    background-image: url(./edicoes/perguntas.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 746px;
    width: 1335px;
    margin: -2px;
    display: flex;
    flex-direction: column;
    margin-top: -8%;
  }

  .caixa{
    background-color: #ECECEC;
    width: 391px;
    height: 453px;
    margin-left: 59%;
    margin-top: -2%;
    border-radius: 47px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.balao{
    height: 10%;
    width: 196px;
    margin-left: 21%;
    margin-top: 10%;
    background-color: #ffffff;
    box-shadow: 3px 0px 5px 0px #131212;
    color: #9fa2a7;
    font-size: 0.8em;
    line-height: 1.75;
    padding: 15px 25px;
    margin-bottom: 0px;
    cursor: default;
    border-radius: 10px;
}

.texto1{
    font-size: 16px;
    margin-top: -6%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.Nome{
    font-size: 11px;
    color: black;
    margin-left: 56%;
    display: flex;
    margin-top: -37px;
    font-family: Arial, Helvetica, sans-serif;
}

.pergunta1{
    font-size: 21px;
    text-align: center;
    margin-top: 12%;
    font-family: Arial, Helvetica, sans-serif;
}

.sim{
    height: 30px;
    width: 160px;
    background-color: #84A2BE;
    border: 0;
    border-radius: 22px;
    font-family: Arial, Helvetica, sans-serif;

}

.nao{
    height: 30px;
    width: 160px;
    background-color: #84A2BE;
    border: 0;
    border-radius: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.pergunta2{
    font-size: 21px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.proximo{   
    height: 55px;
    width: 60px;
    background-color: #84A2BE;
    margin-left: 92%;
    border: 0;
    border-radius: 43%;
    margin-top: -6%;
}

.seta{
    color: white;
    font-size: 229%;
  }